modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082
externalPort = 3002

[[ports]]
localPort = 22967
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
VITE_CONDITIONAL_ESCROW_ADDRESS = "0xdf4a78fd953ed558902ec46b12a2d1f67fee427d"
VITE_PAYROLL_VESTING_ADDRESS = "0xda68d90f4aa3feee7898addb9e646d5309044340"
VITE_CROSSCHAIN_ESCROW_ADDRESS = "0x2e66ec075e0030353ede77615c63afdb35dd5694"
VITE_ARC_RPC_URL = "https://rpc.testnet.arc.network"
VITE_ARC_CHAIN_ID = "5042002"
VITE_USDC_ADDRESS = "0x3600000000000000000000000000000000000000"
VITE_EURC_ADDRESS = "0x89B50855Aa3bE2F677cD6303Cec089B5F319D72a"
